{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },

  // http://eslint.org/docs/user-guide/configuring.html#using-eslintrecommended
  "extends": "eslint:recommended",

  // custom rules
  "rules": {
    "quotes": [2, "single", {"avoidEscape": true}]
  }
}
